<div class="panel panel-default">
  <div class="panel-heading">ES6 Support</div>
  <div class="panel-body">
    <p>This project uses <a href="https://www.npmjs.com/package/gulp-babel">babel</a> to transpile ES6 into common JS.</p>
    <p>ES6 code must be placed in files that are suffixed with <code>.es6.js</code>. The gulp tasks will transpile these files into common JS, placing the result into the <code>client/transpiled</code> folder.</p>
    <p>See <a href="http://es6-features.org">http://es6-features.org</a> for details of ES6 features.</p>
  </div>
</div>
